/* Your CSS Code here. */
table {
        
            width: 100%;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            text-align: center;
            padding: 10px;
        }
        a {
            text-decoration: none;
            color: blue;
        }
        .black-cell {
            background-color: black;
            color: white;
        }